
<!-- CSS CODE FOR GAME ROOM -->
<style> 
    body {
        animation: 7000ms ease-in-out infinite color-change;
    }
    .gameContainer {
        background: white;
        width: 64%;
        height: 81%;
        border-radius: 6px;
        float: left;
        margin: 5% 1% 1% 3%;
        padding: 10px;
        text-align: center;
        box-shadow: 5px 5px 10px #888888;
        position: relative;
        font-size: 50px;
    }

    .chatContainer {
        background: white;
        width: 25%;
        height: 81%;
        border-radius: 6px;
        float: right;
        margin: 5% 3% 1% 1%;
        padding: 10px;
        text-align: center;
        box-shadow: 5px 5px 10px #888888;
    }

    .button1
    {
      border:none;
      border-radius:30px;
      opacity:0.6;
      height:25px;
      width:50px;
      font-family: 'Roboto';
      font-weight:500;
      font-size: 17px;
      background-color:#d3d3d3;

    }

    .button1:hover
    {
      background-color:grey;
      border-bottom:7px solid grey;
      color:white;

    }
    @keyframes color-change {
      0% {
        background-color: #45a3e5;
      }
      20% {
        background-color: #66bf39;
      }
      40% {
        background-color: #eb670f;
      }
      60% {
        background-color: #ff3355;
      }
      80% {
        background-color: #864cbf;
      }
      100% {
        background-color: #45a3e5;
      }
</style>

<!-- MAINLY HTML CODE FOR GAME ROOM -->
<script src="/socket.io/socket.io.js"></script>
<div class="gameContainer">
    <p id="demo"></p>
    <p id="answer" style="color:red"></p>
</div>
<div class="chatContainer">
    <textarea id="chat-log" cols="42" rows="37"></textarea>
    <form id ="chat-form" onkeypress="return event.keyCode != 13"><br/>
        <input id="chat-message-input" style="width: 80%; height: 30px;" autocomplete="off" type="text" value ="{{form.city.value}}"/>
        <input id="chat-message-submit" class="button1" type="button" value="Send"/>
    </form>
</div>

<!--JAVASCRIPT FOR MAIN ROOM-->
<script>
    var ridList = {{riddles|safe}}; 
    var placement = 0;
    var rounds = 3;
    //var rou = 1;

    //function round(){
    //    if (rounds!=0)
    //    {
    //        document.getElementById("demo").innerHTML = "Round " + rou;
    //        rou += 1;
    //    }
    //    
    //}
    function getRiddles() {   
        if(rounds != 0)
        {
            document.getElementById("demo").innerHTML = ridList[placement][0];
            document.getElementById("answer").innerHTML = ridList[placement][1];
            placement += 1;
            rounds -= 1;
        }
    }

    getRiddles();
    setInterval(function(){
        getRiddles();
    }, 3000);


    var roomName = {{ room_name_json }};
    var username = "{{username}}: ";

    var protocol = '';
    if (window.location.protocol === 'https:') {
        protocol = 'wss:';
    } else {
        protocol = 'ws:';
    }

    var chatSocket = new WebSocket(
        protocol + '//' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': username.concat(message)
        }));

        messageInputDom.value = '';
    };
</script>