extends master.pug
block head
    style.
      .wrapper
      {
      left:50px;
      }
      .wrapper p, h1, h2
      {
      font-family: 'Roboto', sans-serif;
      color: rgba(0, 0, 0, 0.5); /* rgba for text opacity, doesnt affect whole block*/
      }
      .wrapper h1, h2
      {
      font-size: 15px;
      }
      a
      {
      color:black;
      }
    |
block content