div
  #footer
    p
      a(href='/contact') Contact Us
      |    |
      |                 
      a(href='/terms_conditions') Terms and Conditions
      |      |
      |                 
      a(href='/source_code') Source Code