extends master.pug
block head    
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='static/index.css')       
    link(href='https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap', rel='stylesheet')
block content
    .userboard
      #users
        p#user
    |     
    .gameContainer
      p#demo.printwords
    |     
    ul.pages
      li.chat.page
        .gameButtons
          button.joinGame(placeholder='Join Game') Join Game
          |          
          br
          |          
          button.leaveGame(placeholder='Leave Game') Exit Game
          |          
          br
        |         
        .chatContainer
          ul.messages
        |       
        input.inputMessage(placeholder='Type here...')
      |         
      li.usersList
        .usersList
          ul.Users
      li.login.page
        .stripe
          h1
            a(href='/')  Riddle Me This!
        #avatar_container
          #avatar_select
          |                 
          label.small-text  choose your fighter
        #usernamecontainer.form                  
            input.usernameInput(type='text', name='username', placeholder=' ☺', required='')
            |
            input#go.button1(type='submit', value='Go!')
            |                       
            label.small-text(for='username', style='top:50%')  nickname
        #info_container
          button.accordion(id='collapse in', data-parent='#accordion') Updates
          |             
          .panel
            p And I oop-
          |             
          button.accordion(data-parent='#accordion') How to Play
          |
          .panel
            p ????????????/
          |             
          button.accordion(data-parent='#accordion') About
          |             
          .panel
            p Riddle Me This! is a sdjfsdf

    |     
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    |     
    script(src='/socket.io/socket.io.js')
    |     
    script(src='/main.js')
    |   
    script(type='text/javascript').
      var gameState = 0
      var testlist = ['apples','banana','orange','dinosaur','hello','testing','type','answer', 'word', 'dog', 'cat', 'yeet','dingle','hopper','once','upon','aaaayyy','time','they','did','surgery','on','a','grape','big','chungus','miss','keesha','jared','nineteen','never','fucking','learned','how','to','read']
      var rounds = 3;
      function basicGameplay(){
      var move = testlist[Math.floor(Math.random()*testlist.length)];
      //if(rounds != 0)
      // {
      document.getElementById("demo").innerHTML = move;
      //    rounds -= 1;
      // }
      // gameState = 1;
      // for(var i in players){
      //   var playerWin = playerWinCheck(players[i].message);
      //   if(playerWin){
      //     players[i].score += 1;
      //   }
      //}
      }
      function playerWinCheck(message){
      var playerWins = false;
      if(message == move){
      playerWins = true;
      }
      return playerWins;
      }
      basicGameplay();
      setInterval(function(){
      basicGameplay();},3000);
    |
    script.
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight){
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          } 
        });
      }
