extends master.pug
block head    
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='static/index.css')       
    link(href='https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    |     
    script(src='/socket.io/socket.io.js')
    |     
    script(src='/main.js')
    |   
    script(type='text/javascript')
    |
    script.
      function plus(inc_by, elem_id, max){
        let elem; let count;

        elem = document.getElementById(elem_id);
        count = ~~elem.value;
        console.log(elem.value, max)
        
        
        if (elem.value < max){
          count += inc_by;
          elem.value = count;
        }
      }



      function minus(inc_by, elem_id, min, check_id){
        let elem; let count;

        elem = document.getElementById(elem_id);
        count = ~~elem.value;

        
        if (check_id != null && (document.getElementById(check_id)).value==0)
        {
          return;
        }

        else if (elem.value > min) {
          count -= inc_by;
          elem.value = count;
        }  
      }
block content
    .userboard
      #users
        p#user
    |     
    .gameContainer
      //p #{riddles}
      p#demo
      p#answer
    |     
    ul.pages
      li.chat.page
        .stripe
          h1
            a.title(href='/')  Riddle Me This!
        .gameButtons
          button.gameAction.joinGame(placeholder='Join Game') Public Game
          |          
          br
          |
          button.gameAction.joinExGame(placeholder='Join Existing Game') Private Game
          |
          input.input1.joinExGameInput(type='text', name='joinExGameInput', placeholder=' ☺ ', required='')
          |          
          br
          |
          button.gameAction.createPriGame(placeholder='Create New Game') Create Private Game
          |
          p.label2 Round Time
          #roundTimeContainer
            #minContainer
              input.incdec.top(type='button', value='+', onclick='plus(1, "countMin", 5)')
              |  
              input.incdec.bottom(type='button', value='-', onclick='minus(1, "countMin", 0, "countSec")')
              |
              p.label2  min 
              |
              input#countMin.countTime(type='text', size='25', value='1', readonly='readonly') 
            #secContainer
              p.label2 sec
                input.incdec.top(type='button', value='+', onclick='plus(30, "countSec", 30)')
                |   
                input.incdec.bottom(type='button', value='-', onclick='minus(30, "countSec", 0, "countMin")')
                |
                input#countSec.countTime(type='text', size='25', value='30', readonly='readonly')
          |
          p.label2 Rounds
          #numRoundsContainer
              input.incdec.top(type='button', value='+', onclick='plus(1, "countRound", 10)')
              |   
              input.incdec.bottom(type='button', value='-', onclick='minus(1, "countRound", 1, null)')
              |
              input#countRound.countTime(type='text', size='25', value='5', readonly='readonly')

          br
          |             
          button.gameAction.leaveGame(placeholder='Leave Game') Back to Lobby
          |          
          br
        |         
        .chatContainer
          ul.messages
        |       
        input.inputMessage(placeholder='Type here...')
      |         
      li.usersList
        .usersList
          ul.Users
      li.login.page
        .stripe
          h1
            a(href='/')  Riddle Me This!
        #avatar_container
          #avatar_select
          |                 
          label.label1.small-text  choose your fighter
        #usernamecontainer.form                  
            input.input1.usernameInput(type='text', name='username', placeholder=' ☺', required='')
            |
            input#go.button1(type='submit', value='Go!', onkeypress='return event.keyCode != 13')
            |                       
            label.label1.small-text(for='username', style='top:50%')  nickname
        #info_container
          button.accordion(id='collapse in', data-parent='#accordion') Updates
          |             
          .panel
            p And I oop-
          |             
          button.accordion(data-parent='#accordion') How to Play
          |
          .panel
            p ????????????/
          |             
          button.accordion(data-parent='#accordion') About
          |             
          .panel
            p Riddle Me This! is a sdjfsdf
          |
          script.
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight)
                {
                  panel.style.maxHeight = null;
                } 

                else {
                  panel.style.maxHeight = panel.scrollHeight + "px";
                } 
              });
            }

      

