div(style='display: inline-block;')
#avatar_container
    #avatar_select
    |                 
    label.small-text  choose your fighter
    |         
.username        
  form(action='/', method='post')
    input#go.button1(type='submit', value='Go!')
    |                     
    input(type='text', name='username', placeholder=' ☺', required='')
    |  
    |                     
    label.small-text(for='username', style='top:50%')  nickname 
|         
#info_container
  button.accordion(id='collapse in', data-parent='#accordion') Updates
  |             
  .panel
    p And I oop-
  |             
  button.accordion(data-parent='#accordion') How to Play
  |             
  .panel
    p ????????????/
  |             
  button.accordion(data-parent='#accordion') About
  |             
  .panel
    p Riddle Me This! is a sdjfsdf
script.
  var acc = document.getElementsByClassName("accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var panel = this.nextElementSibling;
  if (panel.style.maxHeight){
  panel.style.maxHeight = null;
  } else {
  panel.style.maxHeight = panel.scrollHeight + "px";
  }
  });
  }
