extends master.pug
block head
	link(rel='stylesheet', href='static/lobby.css')
block content
	h1#smalltext  Welcome, #{username}!
		p
		button
			a(href='/game')  Join random game
		button
			a(href='/')  Join existing game
		button
			a(href='/') Create Game
