doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    |         
    title Riddle Me This!
    |         
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap', rel='stylesheet')
    |         
    link(rel='stylesheet', href='static/main.css')
    |
    block head
  |     
  body
    |
    block content 
    |
