/* contains css for index page*/
/*accordion css*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.active, .accordion:hover {
  background-color: #ccc;
}


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* end accordion */

#user_inputs
{	
	width:400px;
  height:auto;
  display: inline-block;
  margin-right: 20px;
}

#avatar_select
{
  background-color: white;
  opacity:0.6;
  width:400px;
  height: 200px;
  border-radius: 25px;
  
}


#go
{
	position:absolute;
  float:right;
  margin-left: 10px;
  border:none;
  background-color: rgba(202, 205, 219, .8);
  border-bottom:6px solid white;
  border-radius:30px;
  padding: 1px 12px 0px 12px;
  opacity:0.6;
  height:auto;
  width:auto;
  font-family: 'Roboto', helvetica, arial;
  font-weight:500;

}




#go:hover
{
  background-color: rgba(202, 205, 219, .4);

}

#info_container
{
  float: right;
  width:calc(60% - 520px);
  height:400px;
  background-color: white;
  opacity:0.6;
  border-radius: 25px;
  min-width: 150px;
}


.username
{
  width:400px;
  height:50px;
}

#usernamecontainer
{
  position: absolute;
  width:250px;
  height:40px;
}


#mainpageContainer
{
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 50px;
}




