/* contains css used in multiple "pages" */
/* <Control> + <F5> for hard refresh*/

/*FOOTER CSS*/
#footer {
   bottom:0px;
   left:0px;
   position: fixed;
   width:100%;
   opacity: .5;
   text-align: center;
   font-family: 'Roboto', 'Helvetica';
}


#footer p a
{
  color:black;
  text-decoration: none;
  font-size:14px; 
}

#footer p a:hover
{
  color:white;
}

/*END*/ 

/* START TITLE CSS*/
.title {
    color:black;
    font-family: 'Permanent Marker';
    padding-left: 15px;
    opacity: .4;
    font-size:36px;
    text-decoration: none;
    font-weight: 400;
}

.title:hover {
    color: #7a95f5;
    font-family: 'Permanent Marker';
    text-decoration: none;
    mix-blend-mode: difference;
}


.stripe {
  font-family: "Permanent Marker";
    background-color: white;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
    opacity: 0.6;
    width:100%;
}


/*END*/

/*LABELS AND TEXT CSS*/
.label1
{
  padding: 0;
  margin:0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  width: auto;
  font-family:'Roboto', 'Helvetica', 'Arial';
  font-weight: 600;
  font-size: 14px;
  color:black;
  opacity: .5;

}


.label2
{
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Roboto';
  font-weight: 500;
  width:  100px;
  margin:0;
  display: inline-block;
}


.small-text
{
  opacity: .7;
  font-family: 'Roboto', 'Helvetica', 'Arial';

}
/*END*/




input {
 outline:none;
}

.input1
{
  border:none;
  border-radius:25px;
  opacity:0.6;
  padding-left: 12px;
  height:25px;
}


body {
  animation: 7000ms ease-in-out infinite color-change;
  overflow: hidden;
}






@keyframes color-change {
  0% {
    background-color: #45a3e5;
  }
  20% {
    background-color: #66bf39;
  }
  40% {
    background-color: #eb670f;
  }
  60% {
    background-color: #ff3355;
  }
  80% {
    background-color: #864cbf;
  }
  100% {
    background-color: #45a3e5;
  }
}

.center
{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Fix user-agent */






ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}


.page {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
}

/* Login Page */

.login.page {
  animation: 7000ms ease-in-out infinite color-change;
  position: absolute;
  width:100%;
  height:100%;

}


/* Font */

.messages {
  font-size: 100%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* css for chat/messages */

.chatContainer {
    background: white;
    width: 40%;
    height: 71%;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
}

.userboard {
    background: white;
    width: 15%;
    height: 71%;
    border-radius: 6px;
    float: left;
    margin: 9% 1% 1% 3%;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */
.inputMessage {
  border:2px solid white;
  border-radius: 10px;
  bottom: 0;
  height: 45px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
html
{
  margin-top:0;
  height:100%;
}



