/* <Control> + <F5> for hard refresh*/
#footer {
   position:fixed;
   bottom:0px;
   left:0px;
   width:100%;
   opacity:.3;
   text-align: center;
   height:20px;
}


#footer p a
{
  color:black;
}

#footer p a:hover
{
  color:white;
  text-decoration: none;
}

h1 a, h2 a {
    color: #000000;
    font-family: 'Permanent Marker';
    padding-left: 15px;
    mix-blend-mode: color-burn;
    opacity: .4;
}

h1 a:hover, h2 a {
    color: #7a95f5;
    font-family: 'Permanent Marker';
    text-decoration: none;
    mix-blend-mode: difference;
}

.label1
{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    margin-top: 4px;
}

.stripe {
  font-family: "Permanent Marker";
    background-color: #ddddf0;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    opacity: 0.6;
    width:100%;
}

.small-text
{
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.5); /* rgba for text opacity, doesnt affect whole block*/
  font-weight: 600;
  width:auto;
}



.button1
{
  border:none;
  background-color: rgba(202, 205, 219, .8);
  border-bottom:6px solid white;
  border-radius:30px;
  padding: 1px 12px 0px 12px;
  opacity:0.6;
  height:auto;
  width:auto;
  font-family: 'Roboto';
  font-weight:500;

}

.gameAction
{
  border:none;
  margin-bottom: 25px;
  background-color: rgba(202, 205, 219, .8);
  border-bottom:9px solid white;
  border-radius:30px;
  padding: 10px 12px 10px 12px;
  opacity:0.6;
  height:auto;
  width:auto;
  font-family: 'Roboto';
  font-weight:500;

}

.joinExGameInput
{
  margin-left:15px;
}

.button1:hover, .gameAction:hover
{
  background-color: rgba(202, 205, 219, .4);

}

input {
 outline:none;
}

.input1
{
  border:none;
  border-radius:25px;
  opacity:0.6;
  padding-left: 12px;
  height:25px;
}


body {
  animation: 7000ms ease-in-out infinite color-change;
  overflow: hidden;
}




.label2
{
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Roboto';
  font-weight: 500;
}

/*rounds counter*/

#minContainer
{
  float:left;
  height: inherit;
  width: 125px;
}
#secContainer
{
  float:right;
  height: inherit;
  width:125px;
}

#roundTimeContainer
{
  float:right;
  width:260px;
  height:auto;

}

.countTimeLabel {
  display: inline-block;
  float: right;
  margin-left: 10px;
  margin-top: 2px;
}


.countTime
{
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(202, 205, 219, .5);
  border:none; 
  padding: 2px;
  width:50px;
  border-radius: 20px;
  font-size:14px;
  font-family: 'Roboto', serif;
  font-weight:500;
  text-align:center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
   float:right;
  
}

.incdec:hover
{
  background-color:rgba(0,0,0, 0);
}

.incdec
{
  color: rgba(0, 0, 0, 0.4);
  background-color:rgba(0,0,0, .05);
  border:none;
  float:left;
  margin-right:2px;
  border-radius: 10px;
}


/*end rounds counter*/


@keyframes color-change {
  0% {
    background-color: #45a3e5;
  }
  20% {
    background-color: #66bf39;
  }
  40% {
    background-color: #eb670f;
  }
  60% {
    background-color: #ff3355;
  }
  80% {
    background-color: #864cbf;
  }
  100% {
    background-color: #45a3e5;
  }
}
