{% extends 'master.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
        <div id = avatar_block>
            <div id = "avatar_select"></div>
            <div style = "white-space: nowrap;">
                    <label class = "small-text" style="position:absolute;top:26vh"> choose your fighter</label>
            </div>
        </div>
        <br>
         <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <div class = username>
                <input type="submit" value="Go!" style ="position:absolute; left:200px">
                <input id="temp_user" type="text" name="temp_user" value="{{ current_name }}" placeholder = " ☺" required> 
                <label for="temp_user" class = "small-text"> nickname </label>
            </div>
        </form>
{% endblock %}
